<div style="text-align: center;">
    <form [formGroup]="formulario">
        <mat-form-field class="example-full-width" appearance="fill" style="width:300px">
          <mat-label>id_tipo_vivienda</mat-label>
          <input matInput id="tipo_vivienda" #tipo_vivienda formControlName="tipo_vivienda"  style="text-transform: uppercase;">
        </mat-form-field>
  
        <mat-form-field appearance="fill" style="width:250px">
          <mat-label>id_municipio</mat-label>
          <input matInput id="municipio" #municipio value="" formControlName="municipio" maxlength="15">
        </mat-form-field>
      
        <mat-form-field appearance="fill" style="width:250px">
          <mat-label>id_localidad</mat-label>
          <input matInput id="localidad" #localidad value="" formControlName="localidad" maxlength="15"> 
        </mat-form-field>
  
        <mat-form-field appearance="fill" style="width:250px">
          <mat-label>calle</mat-label>
          <input matInput id="calle" #calle value="" formControlName="calle" maxlength="15">
        </mat-form-field>
      
        <mat-form-field appearance="fill" style="width:250px">
          <mat-label>num_ext</mat-label>
          <input matInput id="num_ext" #num_ext value="" formControlName="num_ext" maxlength="10">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width:250px">
            <mat-label>colonia</mat-label>
            <input matInput id="colonia" #colonia value="" formControlName="colonia" maxlength="10">
          </mat-form-field>
  

  



    </form>

    <button mat-fab extended color="primary" (click)="validar()">Guardar</button>

  </div><br>



<app-tabla-generica [saberDeQueTipo]="'VIVIENDA'"></app-tabla-generica>